#complete{ /* for the complete body section */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto; /* will center the elements */
    margin-right: auto; /* will center the elements */
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}